<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p class="lead">Local 6</p>
      <div class="list-group">
        <a href="/woman" class="list-group-item">Dama</a>
        <a href="/man" class="list-group-item">Hombre</a>
        <a href="/kids" class="list-group-item">Niños</a>
        <a href="/all" class="list-group-item">Todos</a>

        <form action = '/search' method = 'post'>
          <input class='form-control searchbar' type = 'text' name = 'search' placeholder = 'Buscar'>
          <button class = 'searchbtn btn btn-default'>Buscar</button>
        </form>
      </div>
    </div>
