<%include partials/header%>
<%include partials/sidebar%>
    <div class="col-md-9">
      <h4><%= name%></h4>
      <hr>
      <div class="row">
        <%include partials/allproduct%>
      </div>
    </div>
  </div>
</div>
<%include partials/footer%>
